@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Quicksand Variable", sans-serif;
  @apply bg-gray-100 dark:bg-slate-800;
}
.theme {
  background-color: #e8f8f3;
}
.navbar{
  background: linear-gradient(135deg,rgba(255,255,255,0),rgba(124, 212, 247, 0.8));
     backdrop-filter: blur(20px);
     -webkit-backdrop-filter: blur(20px);
     border-radius: 50px;
     border: 1px solid rgba(255, 255, 255,0.18);
     box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
